type adsprpcd_file, file_type;
type bt_firmware_file, file_type;
type firmware_file, file_type;
type op1_file, file_type;
type op2_file, file_type;
type persist_file, file_type;
type oem_data_file, file_type;
type proc_touchpanel, fs_type;
type sysfs_fpc_proximity, sysfs_type, fs_type;
type ipa_dev, dev_type;
type qti_init_shell, domain;
type hal_bluetooth_qti, domain;
type hal_drm_widevine, domain;
type hal_gnss_qti, domain;
type hal_imsrtp, domain;
type hal_rcsservice, domain;
type location, domain;
type cdsprpcd, domain;
type sysfs_devfreq, fs_type, sysfs_type;
type diag_device, dev_type, mlstrustedobject;
type oem_prop, property_type;
type alarm_boot_prop, property_type;
