allow qti_init_shell sysfs_devfreq:dir rw_dir_perms;
allow qti_init_shell sysfs_devfreq:file create_file_perms;
allow qti_init_shell sysfs_devices_system_cpu:dir rw_dir_perms;
allow qti_init_shell sysfs_devices_system_cpu:file create_file_perms;
allow qti_init_shell sysfs_lowmemorykiller:dir rw_dir_perms;
allow qti_init_shell sysfs_lowmemorykiller:file create_file_perms;
allow qti_init_shell proc_irq:dir rw_dir_perms;
allow qti_init_shell proc_irq:file create_file_perms;
