allow qti_init_shell sysfs_devfreq:dir rw_dir_perms;
allow qti_init_shell sysfs_devfreq:file create_file_perms;
allow qti_init_shell sysfs_devices_system_cpu:dir rw_dir_perms;
allow qti_init_shell sysfs_devices_system_cpu:file create_file_perms;
allow qti_init_shell sysfs_lowmemorykiller:dir rw_dir_perms;
allow qti_init_shell sysfs_lowmemorykiller:file create_file_perms;

# It's accessing only /proc/irq, but making a smaller context on that breaks a whole lot of other services
allow qti_init_shell proc:dir rw_dir_perms;
allow qti_init_shell proc:file create_file_perms;
